PROJECT_PATH=/home/legion/gitlab/parsers/api
OUTPUT_FILE_PATH=/home/legion/Downloads/project_code.txt
EXTENSIONS=[".py", ".go", ".tpl", ".tmpl", ".html", ".js", ".css", ".json", ".dockerfile"]
EXCLUDE_DIRS=["venv","__pycache__",".git"]
EXCLUDE_FILES=["proxy_checker.py"]
INCLUDE_FILES=["Dockerfile"]